[init]
  defaultBranch = main
[user]
  email = spacemastr@gmail.com
  name = Edvid
[alias]
  graph-default = log --graph --abbrev-commit --decorate --pretty=tformat:'%C(bold 213)%h%C(reset)%C(auto)% D%C(221)% an%C(bold 75)% ar%n%C(251)%s%C(reset)'
  graph = log --graph --all --abbrev-commit --decorate --pretty=tformat:'%C(bold 213)%h%C(reset)%C(auto)% D%C(221)% an%C(bold 75)% ar%n%C(251)%s%C(reset)'
  graphverbose-default = log --graph --abbrev-commit --decorate --stat --pretty=tformat:'%C(bold 213)%h%C(reset)%C(auto)% D%C(221)% an%C(bold 75)% ar%n%C(104)%B%C(reset)'
[core]
  pager = less
	editor = nvim
[credential]
  helper = store --file ~/.git.credentials
[push]
  autoSetupRemote = true
[pull]
  rebase = false
[rerere]
  enabled = true
