[init]
	defaultBranch = main
[user]
	email = spacemastr@gmail.com
	name = Edvid
[alias]
	graph = log --graph --all --abbrev-commit --decorate --pretty=format:'%C(bold 5)%h%C(reset)%C(auto) - %D%n%C(31)%an, %ar%C(reset)%C(auto)%n%s%C(reset)'
	gr = graph --max-count=8
[core]
	pager = cat
[credential]
	helper = store --file ~/.git.credentials
[push]
    autoSetupRemote = true
