[Desktop Entry]
Type=Application
Exec=sh -c "xkbset ma 1 10 1800 120 10"
Hidden=false
Terminal=false
Name=Fix mouse keys
Comment=Fixes mouse keys on startup

